GMSWeb/Web References/CMSWebService/CMSWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetRecipe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="recipeNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRecipeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRecipeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountAddress">
        <s:complexType />
      </s:element>
      <s:element name="GetAccountAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountAddressResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectCostEstimate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="projectNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectCostEstimateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProjectCostEstimateResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUnpostedProductFullDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productGroupCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productGroupName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productForeignName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUnpostedProductFullDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUnpostedProductFullDetailResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductFullDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productGroupCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productGroupName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productForeignName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductFullDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductFullDetailResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUnpostedProductFullDetailByWarehouse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productGroupCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productGroupName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="warehouse" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productForeignName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUnpostedProductFullDetailByWarehouseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUnpostedProductFullDetailByWarehouseResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductFullDetailByWarehouse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productGroupCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productGroupName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="warehouse" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productForeignName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductFullDetailByWarehouseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductFullDetailByWarehouseResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductWarehouse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductWarehouseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductWarehouseResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductStockStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductStockStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductStockStatusResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductOnSODetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductOnSODetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductOnSODetailResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportGetProductOnSODetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportGetProductOnSODetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReportGetProductOnSODetailResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductOnBODetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductOnBODetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductOnBODetailResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductDetailResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductStockStatusByProductCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductStockStatusByProductCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductStockStatusByProductCodeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductDetailByProductCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductDetailByProductCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductDetailByProductCodeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalesOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="poNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dateFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dateTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="salesPersonsID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productGroupCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productGroupName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="soNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productDetailDesc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LMSParallelRunEndDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalesOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSalesOrderResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalesOrderByTrnNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="trnNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="salesPersonsID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dbVersion" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalesOrderByTrnNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSalesOrderByTrnNoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalesOrderDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="trnNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="salesPersonsID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dbVersion" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalesOrderDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSalesOrderDetailsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalesOrderProductDesc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="trnNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="srNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dbVersion" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalesOrderProductDescResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSalesOrderProductDescResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeliveryOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dateFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dateTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="salesPersonsID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productGroupCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productGroupName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="donumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerPO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productDetailDesc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LMSParallelRunEndDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeliveryOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDeliveryOrderResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeliveryOrderByTrnNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="trnNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="trnType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="salesPersonsID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dbVersion" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeliveryOrderByTrnNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDeliveryOrderByTrnNoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeliveryOrderDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="trnNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="trnType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="salesPersonsID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dbVersion" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeliveryOrderDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDeliveryOrderDetailsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeliveryProductDesc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="trnNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="trnType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="srNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dbVersion" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeliveryProductDescResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDeliveryProductDescResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvoicelist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dateFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dateTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="salesPersonsID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productGroupCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productGroupName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invoiceNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productDetailDesc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LMSParallelRunEndDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvoicelistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInvoicelistResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvoiceByTrnNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="trnNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="trnType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="salesPersonsID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dbVersion" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvoiceByTrnNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInvoiceByTrnNoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvoiceDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="trnNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="trnType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="salesPersonsID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dbVersion" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvoiceDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInvoiceDetailsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvoiceProductDesc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="trnNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="trnType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="srNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dbVersion" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvoiceProductDescResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInvoiceProductDescResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductStockMovement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LMSParallelRunEndDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductStockMovementResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductStockMovementResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductStockMovementByWarehouse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LMSParallelRunEndDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="warehouse" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductStockMovementByWarehouseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductStockMovementByWarehouseResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductOnTNDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductOnTNDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductOnTNDetailResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProduct">
        <s:complexType />
      </s:element>
      <s:element name="GetProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductGroup">
        <s:complexType />
      </s:element>
      <s:element name="GetProductGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductGroupResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="branch" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalesPerson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="branch" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalesPersonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSalesPersonResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSales1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="branch" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSales1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSales1Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSales2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="branch" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSales2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSales2Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalesDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="branch" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalesDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSalesDetailResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReceipt1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="branch" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReceipt1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReceipt1Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReceipt2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="branch" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReceipt2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReceipt2Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReceipt3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="branch" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReceipt3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReceipt3Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGRN">
        <s:complexType />
      </s:element>
      <s:element name="GetGRNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGRNResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockMovement">
        <s:complexType />
      </s:element>
      <s:element name="GetStockMovementResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStockMovementResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUnpostBatchSerial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="trackType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUnpostBatchSerialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUnpostBatchSerialResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWarehouse">
        <s:complexType />
      </s:element>
      <s:element name="GetWarehouseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWarehouseResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductUOM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductUOMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductUOMResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeliveryOrderByDeliveryZone">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequiredDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeliveryOrderByDeliveryZoneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDeliveryOrderByDeliveryZoneResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeliveryOrderByDeliveryZoneByProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequiredDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeliveryOrderByDeliveryZoneByProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDeliveryOrderByDeliveryZoneByProductResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPendingSO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="salesPersonList" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPendingSOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPendingSOResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBatchSerialDO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="documentNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="batchSerialNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBatchSerialDOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBatchSerialDOResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRecipeSoapIn">
    <wsdl:part name="parameters" element="tns:GetRecipe" />
  </wsdl:message>
  <wsdl:message name="GetRecipeSoapOut">
    <wsdl:part name="parameters" element="tns:GetRecipeResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountAddressSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountAddress" />
  </wsdl:message>
  <wsdl:message name="GetAccountAddressSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountAddressResponse" />
  </wsdl:message>
  <wsdl:message name="GetProjectCostEstimateSoapIn">
    <wsdl:part name="parameters" element="tns:GetProjectCostEstimate" />
  </wsdl:message>
  <wsdl:message name="GetProjectCostEstimateSoapOut">
    <wsdl:part name="parameters" element="tns:GetProjectCostEstimateResponse" />
  </wsdl:message>
  <wsdl:message name="GetUnpostedProductFullDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetUnpostedProductFullDetail" />
  </wsdl:message>
  <wsdl:message name="GetUnpostedProductFullDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetUnpostedProductFullDetailResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductFullDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductFullDetail" />
  </wsdl:message>
  <wsdl:message name="GetProductFullDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductFullDetailResponse" />
  </wsdl:message>
  <wsdl:message name="GetUnpostedProductFullDetailByWarehouseSoapIn">
    <wsdl:part name="parameters" element="tns:GetUnpostedProductFullDetailByWarehouse" />
  </wsdl:message>
  <wsdl:message name="GetUnpostedProductFullDetailByWarehouseSoapOut">
    <wsdl:part name="parameters" element="tns:GetUnpostedProductFullDetailByWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductFullDetailByWarehouseSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductFullDetailByWarehouse" />
  </wsdl:message>
  <wsdl:message name="GetProductFullDetailByWarehouseSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductFullDetailByWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductWarehouseSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductWarehouse" />
  </wsdl:message>
  <wsdl:message name="GetProductWarehouseSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductStockStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductStockStatus" />
  </wsdl:message>
  <wsdl:message name="GetProductStockStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductStockStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductOnSODetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductOnSODetail" />
  </wsdl:message>
  <wsdl:message name="GetProductOnSODetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductOnSODetailResponse" />
  </wsdl:message>
  <wsdl:message name="ReportGetProductOnSODetailSoapIn">
    <wsdl:part name="parameters" element="tns:ReportGetProductOnSODetail" />
  </wsdl:message>
  <wsdl:message name="ReportGetProductOnSODetailSoapOut">
    <wsdl:part name="parameters" element="tns:ReportGetProductOnSODetailResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductOnBODetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductOnBODetail" />
  </wsdl:message>
  <wsdl:message name="GetProductOnBODetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductOnBODetailResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductDetail" />
  </wsdl:message>
  <wsdl:message name="GetProductDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductDetailResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductStockStatusByProductCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductStockStatusByProductCode" />
  </wsdl:message>
  <wsdl:message name="GetProductStockStatusByProductCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductStockStatusByProductCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductDetailByProductCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductDetailByProductCode" />
  </wsdl:message>
  <wsdl:message name="GetProductDetailByProductCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductDetailByProductCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetSalesOrderSoapIn">
    <wsdl:part name="parameters" element="tns:GetSalesOrder" />
  </wsdl:message>
  <wsdl:message name="GetSalesOrderSoapOut">
    <wsdl:part name="parameters" element="tns:GetSalesOrderResponse" />
  </wsdl:message>
  <wsdl:message name="GetSalesOrderByTrnNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetSalesOrderByTrnNo" />
  </wsdl:message>
  <wsdl:message name="GetSalesOrderByTrnNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetSalesOrderByTrnNoResponse" />
  </wsdl:message>
  <wsdl:message name="GetSalesOrderDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSalesOrderDetails" />
  </wsdl:message>
  <wsdl:message name="GetSalesOrderDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSalesOrderDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetSalesOrderProductDescSoapIn">
    <wsdl:part name="parameters" element="tns:GetSalesOrderProductDesc" />
  </wsdl:message>
  <wsdl:message name="GetSalesOrderProductDescSoapOut">
    <wsdl:part name="parameters" element="tns:GetSalesOrderProductDescResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeliveryOrderSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeliveryOrder" />
  </wsdl:message>
  <wsdl:message name="GetDeliveryOrderSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeliveryOrderResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeliveryOrderByTrnNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeliveryOrderByTrnNo" />
  </wsdl:message>
  <wsdl:message name="GetDeliveryOrderByTrnNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeliveryOrderByTrnNoResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeliveryOrderDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeliveryOrderDetails" />
  </wsdl:message>
  <wsdl:message name="GetDeliveryOrderDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeliveryOrderDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeliveryProductDescSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeliveryProductDesc" />
  </wsdl:message>
  <wsdl:message name="GetDeliveryProductDescSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeliveryProductDescResponse" />
  </wsdl:message>
  <wsdl:message name="GetInvoicelistSoapIn">
    <wsdl:part name="parameters" element="tns:GetInvoicelist" />
  </wsdl:message>
  <wsdl:message name="GetInvoicelistSoapOut">
    <wsdl:part name="parameters" element="tns:GetInvoicelistResponse" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceByTrnNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetInvoiceByTrnNo" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceByTrnNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetInvoiceByTrnNoResponse" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetInvoiceDetails" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetInvoiceDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceProductDescSoapIn">
    <wsdl:part name="parameters" element="tns:GetInvoiceProductDesc" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceProductDescSoapOut">
    <wsdl:part name="parameters" element="tns:GetInvoiceProductDescResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductStockMovementSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductStockMovement" />
  </wsdl:message>
  <wsdl:message name="GetProductStockMovementSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductStockMovementResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductStockMovementByWarehouseSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductStockMovementByWarehouse" />
  </wsdl:message>
  <wsdl:message name="GetProductStockMovementByWarehouseSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductStockMovementByWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductOnTNDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductOnTNDetail" />
  </wsdl:message>
  <wsdl:message name="GetProductOnTNDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductOnTNDetailResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductSoapIn">
    <wsdl:part name="parameters" element="tns:GetProduct" />
  </wsdl:message>
  <wsdl:message name="GetProductSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductGroupSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductGroup" />
  </wsdl:message>
  <wsdl:message name="GetProductGroupSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductGroupResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccount" />
  </wsdl:message>
  <wsdl:message name="GetAccountSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountResponse" />
  </wsdl:message>
  <wsdl:message name="GetSalesPersonSoapIn">
    <wsdl:part name="parameters" element="tns:GetSalesPerson" />
  </wsdl:message>
  <wsdl:message name="GetSalesPersonSoapOut">
    <wsdl:part name="parameters" element="tns:GetSalesPersonResponse" />
  </wsdl:message>
  <wsdl:message name="GetSales1SoapIn">
    <wsdl:part name="parameters" element="tns:GetSales1" />
  </wsdl:message>
  <wsdl:message name="GetSales1SoapOut">
    <wsdl:part name="parameters" element="tns:GetSales1Response" />
  </wsdl:message>
  <wsdl:message name="GetSales2SoapIn">
    <wsdl:part name="parameters" element="tns:GetSales2" />
  </wsdl:message>
  <wsdl:message name="GetSales2SoapOut">
    <wsdl:part name="parameters" element="tns:GetSales2Response" />
  </wsdl:message>
  <wsdl:message name="GetSalesDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetSalesDetail" />
  </wsdl:message>
  <wsdl:message name="GetSalesDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetSalesDetailResponse" />
  </wsdl:message>
  <wsdl:message name="GetReceipt1SoapIn">
    <wsdl:part name="parameters" element="tns:GetReceipt1" />
  </wsdl:message>
  <wsdl:message name="GetReceipt1SoapOut">
    <wsdl:part name="parameters" element="tns:GetReceipt1Response" />
  </wsdl:message>
  <wsdl:message name="GetReceipt2SoapIn">
    <wsdl:part name="parameters" element="tns:GetReceipt2" />
  </wsdl:message>
  <wsdl:message name="GetReceipt2SoapOut">
    <wsdl:part name="parameters" element="tns:GetReceipt2Response" />
  </wsdl:message>
  <wsdl:message name="GetReceipt3SoapIn">
    <wsdl:part name="parameters" element="tns:GetReceipt3" />
  </wsdl:message>
  <wsdl:message name="GetReceipt3SoapOut">
    <wsdl:part name="parameters" element="tns:GetReceipt3Response" />
  </wsdl:message>
  <wsdl:message name="GetGRNSoapIn">
    <wsdl:part name="parameters" element="tns:GetGRN" />
  </wsdl:message>
  <wsdl:message name="GetGRNSoapOut">
    <wsdl:part name="parameters" element="tns:GetGRNResponse" />
  </wsdl:message>
  <wsdl:message name="GetStockMovementSoapIn">
    <wsdl:part name="parameters" element="tns:GetStockMovement" />
  </wsdl:message>
  <wsdl:message name="GetStockMovementSoapOut">
    <wsdl:part name="parameters" element="tns:GetStockMovementResponse" />
  </wsdl:message>
  <wsdl:message name="GetUnpostBatchSerialSoapIn">
    <wsdl:part name="parameters" element="tns:GetUnpostBatchSerial" />
  </wsdl:message>
  <wsdl:message name="GetUnpostBatchSerialSoapOut">
    <wsdl:part name="parameters" element="tns:GetUnpostBatchSerialResponse" />
  </wsdl:message>
  <wsdl:message name="GetWarehouseSoapIn">
    <wsdl:part name="parameters" element="tns:GetWarehouse" />
  </wsdl:message>
  <wsdl:message name="GetWarehouseSoapOut">
    <wsdl:part name="parameters" element="tns:GetWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductUOMSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductUOM" />
  </wsdl:message>
  <wsdl:message name="GetProductUOMSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductUOMResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeliveryOrderByDeliveryZoneSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeliveryOrderByDeliveryZone" />
  </wsdl:message>
  <wsdl:message name="GetDeliveryOrderByDeliveryZoneSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeliveryOrderByDeliveryZoneResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeliveryOrderByDeliveryZoneByProductSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeliveryOrderByDeliveryZoneByProduct" />
  </wsdl:message>
  <wsdl:message name="GetDeliveryOrderByDeliveryZoneByProductSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeliveryOrderByDeliveryZoneByProductResponse" />
  </wsdl:message>
  <wsdl:message name="GetPendingSOSoapIn">
    <wsdl:part name="parameters" element="tns:GetPendingSO" />
  </wsdl:message>
  <wsdl:message name="GetPendingSOSoapOut">
    <wsdl:part name="parameters" element="tns:GetPendingSOResponse" />
  </wsdl:message>
  <wsdl:message name="GetBatchSerialDOSoapIn">
    <wsdl:part name="parameters" element="tns:GetBatchSerialDO" />
  </wsdl:message>
  <wsdl:message name="GetBatchSerialDOSoapOut">
    <wsdl:part name="parameters" element="tns:GetBatchSerialDOResponse" />
  </wsdl:message>
  <wsdl:portType name="CMSWebServiceSoap">
    <wsdl:operation name="GetRecipe">
      <wsdl:input message="tns:GetRecipeSoapIn" />
      <wsdl:output message="tns:GetRecipeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountAddress">
      <wsdl:input message="tns:GetAccountAddressSoapIn" />
      <wsdl:output message="tns:GetAccountAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectCostEstimate">
      <wsdl:input message="tns:GetProjectCostEstimateSoapIn" />
      <wsdl:output message="tns:GetProjectCostEstimateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUnpostedProductFullDetail">
      <wsdl:input message="tns:GetUnpostedProductFullDetailSoapIn" />
      <wsdl:output message="tns:GetUnpostedProductFullDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductFullDetail">
      <wsdl:input message="tns:GetProductFullDetailSoapIn" />
      <wsdl:output message="tns:GetProductFullDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUnpostedProductFullDetailByWarehouse">
      <wsdl:input message="tns:GetUnpostedProductFullDetailByWarehouseSoapIn" />
      <wsdl:output message="tns:GetUnpostedProductFullDetailByWarehouseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductFullDetailByWarehouse">
      <wsdl:input message="tns:GetProductFullDetailByWarehouseSoapIn" />
      <wsdl:output message="tns:GetProductFullDetailByWarehouseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductWarehouse">
      <wsdl:input message="tns:GetProductWarehouseSoapIn" />
      <wsdl:output message="tns:GetProductWarehouseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductStockStatus">
      <wsdl:input message="tns:GetProductStockStatusSoapIn" />
      <wsdl:output message="tns:GetProductStockStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductOnSODetail">
      <wsdl:input message="tns:GetProductOnSODetailSoapIn" />
      <wsdl:output message="tns:GetProductOnSODetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReportGetProductOnSODetail">
      <wsdl:input message="tns:ReportGetProductOnSODetailSoapIn" />
      <wsdl:output message="tns:ReportGetProductOnSODetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductOnBODetail">
      <wsdl:input message="tns:GetProductOnBODetailSoapIn" />
      <wsdl:output message="tns:GetProductOnBODetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductDetail">
      <wsdl:input message="tns:GetProductDetailSoapIn" />
      <wsdl:output message="tns:GetProductDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductStockStatusByProductCode">
      <wsdl:input message="tns:GetProductStockStatusByProductCodeSoapIn" />
      <wsdl:output message="tns:GetProductStockStatusByProductCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductDetailByProductCode">
      <wsdl:input message="tns:GetProductDetailByProductCodeSoapIn" />
      <wsdl:output message="tns:GetProductDetailByProductCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSalesOrder">
      <wsdl:input message="tns:GetSalesOrderSoapIn" />
      <wsdl:output message="tns:GetSalesOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSalesOrderByTrnNo">
      <wsdl:input message="tns:GetSalesOrderByTrnNoSoapIn" />
      <wsdl:output message="tns:GetSalesOrderByTrnNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSalesOrderDetails">
      <wsdl:input message="tns:GetSalesOrderDetailsSoapIn" />
      <wsdl:output message="tns:GetSalesOrderDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSalesOrderProductDesc">
      <wsdl:input message="tns:GetSalesOrderProductDescSoapIn" />
      <wsdl:output message="tns:GetSalesOrderProductDescSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryOrder">
      <wsdl:input message="tns:GetDeliveryOrderSoapIn" />
      <wsdl:output message="tns:GetDeliveryOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryOrderByTrnNo">
      <wsdl:input message="tns:GetDeliveryOrderByTrnNoSoapIn" />
      <wsdl:output message="tns:GetDeliveryOrderByTrnNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryOrderDetails">
      <wsdl:input message="tns:GetDeliveryOrderDetailsSoapIn" />
      <wsdl:output message="tns:GetDeliveryOrderDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryProductDesc">
      <wsdl:input message="tns:GetDeliveryProductDescSoapIn" />
      <wsdl:output message="tns:GetDeliveryProductDescSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoicelist">
      <wsdl:input message="tns:GetInvoicelistSoapIn" />
      <wsdl:output message="tns:GetInvoicelistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceByTrnNo">
      <wsdl:input message="tns:GetInvoiceByTrnNoSoapIn" />
      <wsdl:output message="tns:GetInvoiceByTrnNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceDetails">
      <wsdl:input message="tns:GetInvoiceDetailsSoapIn" />
      <wsdl:output message="tns:GetInvoiceDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceProductDesc">
      <wsdl:input message="tns:GetInvoiceProductDescSoapIn" />
      <wsdl:output message="tns:GetInvoiceProductDescSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductStockMovement">
      <wsdl:input message="tns:GetProductStockMovementSoapIn" />
      <wsdl:output message="tns:GetProductStockMovementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductStockMovementByWarehouse">
      <wsdl:input message="tns:GetProductStockMovementByWarehouseSoapIn" />
      <wsdl:output message="tns:GetProductStockMovementByWarehouseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductOnTNDetail">
      <wsdl:input message="tns:GetProductOnTNDetailSoapIn" />
      <wsdl:output message="tns:GetProductOnTNDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <wsdl:input message="tns:GetProductSoapIn" />
      <wsdl:output message="tns:GetProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductGroup">
      <wsdl:input message="tns:GetProductGroupSoapIn" />
      <wsdl:output message="tns:GetProductGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccount">
      <wsdl:input message="tns:GetAccountSoapIn" />
      <wsdl:output message="tns:GetAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSalesPerson">
      <wsdl:input message="tns:GetSalesPersonSoapIn" />
      <wsdl:output message="tns:GetSalesPersonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSales1">
      <wsdl:input message="tns:GetSales1SoapIn" />
      <wsdl:output message="tns:GetSales1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSales2">
      <wsdl:input message="tns:GetSales2SoapIn" />
      <wsdl:output message="tns:GetSales2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSalesDetail">
      <wsdl:input message="tns:GetSalesDetailSoapIn" />
      <wsdl:output message="tns:GetSalesDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReceipt1">
      <wsdl:input message="tns:GetReceipt1SoapIn" />
      <wsdl:output message="tns:GetReceipt1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReceipt2">
      <wsdl:input message="tns:GetReceipt2SoapIn" />
      <wsdl:output message="tns:GetReceipt2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReceipt3">
      <wsdl:input message="tns:GetReceipt3SoapIn" />
      <wsdl:output message="tns:GetReceipt3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGRN">
      <wsdl:input message="tns:GetGRNSoapIn" />
      <wsdl:output message="tns:GetGRNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStockMovement">
      <wsdl:input message="tns:GetStockMovementSoapIn" />
      <wsdl:output message="tns:GetStockMovementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUnpostBatchSerial">
      <wsdl:input message="tns:GetUnpostBatchSerialSoapIn" />
      <wsdl:output message="tns:GetUnpostBatchSerialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWarehouse">
      <wsdl:input message="tns:GetWarehouseSoapIn" />
      <wsdl:output message="tns:GetWarehouseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductUOM">
      <wsdl:input message="tns:GetProductUOMSoapIn" />
      <wsdl:output message="tns:GetProductUOMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryOrderByDeliveryZone">
      <wsdl:input message="tns:GetDeliveryOrderByDeliveryZoneSoapIn" />
      <wsdl:output message="tns:GetDeliveryOrderByDeliveryZoneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryOrderByDeliveryZoneByProduct">
      <wsdl:input message="tns:GetDeliveryOrderByDeliveryZoneByProductSoapIn" />
      <wsdl:output message="tns:GetDeliveryOrderByDeliveryZoneByProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPendingSO">
      <wsdl:input message="tns:GetPendingSOSoapIn" />
      <wsdl:output message="tns:GetPendingSOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBatchSerialDO">
      <wsdl:input message="tns:GetBatchSerialDOSoapIn" />
      <wsdl:output message="tns:GetBatchSerialDOSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CMSWebServiceSoap" type="tns:CMSWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRecipe">
      <soap:operation soapAction="http://tempuri.org/GetRecipe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountAddress">
      <soap:operation soapAction="http://tempuri.org/GetAccountAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectCostEstimate">
      <soap:operation soapAction="http://tempuri.org/GetProjectCostEstimate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnpostedProductFullDetail">
      <soap:operation soapAction="http://tempuri.org/GetUnpostedProductFullDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductFullDetail">
      <soap:operation soapAction="http://tempuri.org/GetProductFullDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnpostedProductFullDetailByWarehouse">
      <soap:operation soapAction="http://tempuri.org/GetUnpostedProductFullDetailByWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductFullDetailByWarehouse">
      <soap:operation soapAction="http://tempuri.org/GetProductFullDetailByWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductWarehouse">
      <soap:operation soapAction="http://tempuri.org/GetProductWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductStockStatus">
      <soap:operation soapAction="http://tempuri.org/GetProductStockStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductOnSODetail">
      <soap:operation soapAction="http://tempuri.org/GetProductOnSODetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportGetProductOnSODetail">
      <soap:operation soapAction="http://tempuri.org/ReportGetProductOnSODetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductOnBODetail">
      <soap:operation soapAction="http://tempuri.org/GetProductOnBODetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductDetail">
      <soap:operation soapAction="http://tempuri.org/GetProductDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductStockStatusByProductCode">
      <soap:operation soapAction="http://tempuri.org/GetProductStockStatusByProductCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductDetailByProductCode">
      <soap:operation soapAction="http://tempuri.org/GetProductDetailByProductCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesOrder">
      <soap:operation soapAction="http://tempuri.org/GetSalesOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesOrderByTrnNo">
      <soap:operation soapAction="http://tempuri.org/GetSalesOrderByTrnNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesOrderDetails">
      <soap:operation soapAction="http://tempuri.org/GetSalesOrderDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesOrderProductDesc">
      <soap:operation soapAction="http://tempuri.org/GetSalesOrderProductDesc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryOrder">
      <soap:operation soapAction="http://tempuri.org/GetDeliveryOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryOrderByTrnNo">
      <soap:operation soapAction="http://tempuri.org/GetDeliveryOrderByTrnNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryOrderDetails">
      <soap:operation soapAction="http://tempuri.org/GetDeliveryOrderDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryProductDesc">
      <soap:operation soapAction="http://tempuri.org/GetDeliveryProductDesc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoicelist">
      <soap:operation soapAction="http://tempuri.org/GetInvoicelist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceByTrnNo">
      <soap:operation soapAction="http://tempuri.org/GetInvoiceByTrnNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceDetails">
      <soap:operation soapAction="http://tempuri.org/GetInvoiceDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceProductDesc">
      <soap:operation soapAction="http://tempuri.org/GetInvoiceProductDesc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductStockMovement">
      <soap:operation soapAction="http://tempuri.org/GetProductStockMovement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductStockMovementByWarehouse">
      <soap:operation soapAction="http://tempuri.org/GetProductStockMovementByWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductOnTNDetail">
      <soap:operation soapAction="http://tempuri.org/GetProductOnTNDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <soap:operation soapAction="http://tempuri.org/GetProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductGroup">
      <soap:operation soapAction="http://tempuri.org/GetProductGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccount">
      <soap:operation soapAction="http://tempuri.org/GetAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesPerson">
      <soap:operation soapAction="http://tempuri.org/GetSalesPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSales1">
      <soap:operation soapAction="http://tempuri.org/GetSales1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSales2">
      <soap:operation soapAction="http://tempuri.org/GetSales2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesDetail">
      <soap:operation soapAction="http://tempuri.org/GetSalesDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceipt1">
      <soap:operation soapAction="http://tempuri.org/GetReceipt1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceipt2">
      <soap:operation soapAction="http://tempuri.org/GetReceipt2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceipt3">
      <soap:operation soapAction="http://tempuri.org/GetReceipt3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGRN">
      <soap:operation soapAction="http://tempuri.org/GetGRN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockMovement">
      <soap:operation soapAction="http://tempuri.org/GetStockMovement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnpostBatchSerial">
      <soap:operation soapAction="http://tempuri.org/GetUnpostBatchSerial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWarehouse">
      <soap:operation soapAction="http://tempuri.org/GetWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductUOM">
      <soap:operation soapAction="http://tempuri.org/GetProductUOM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryOrderByDeliveryZone">
      <soap:operation soapAction="http://tempuri.org/GetDeliveryOrderByDeliveryZone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryOrderByDeliveryZoneByProduct">
      <soap:operation soapAction="http://tempuri.org/GetDeliveryOrderByDeliveryZoneByProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPendingSO">
      <soap:operation soapAction="http://tempuri.org/GetPendingSO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBatchSerialDO">
      <soap:operation soapAction="http://tempuri.org/GetBatchSerialDO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CMSWebServiceSoap12" type="tns:CMSWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRecipe">
      <soap12:operation soapAction="http://tempuri.org/GetRecipe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountAddress">
      <soap12:operation soapAction="http://tempuri.org/GetAccountAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectCostEstimate">
      <soap12:operation soapAction="http://tempuri.org/GetProjectCostEstimate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnpostedProductFullDetail">
      <soap12:operation soapAction="http://tempuri.org/GetUnpostedProductFullDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductFullDetail">
      <soap12:operation soapAction="http://tempuri.org/GetProductFullDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnpostedProductFullDetailByWarehouse">
      <soap12:operation soapAction="http://tempuri.org/GetUnpostedProductFullDetailByWarehouse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductFullDetailByWarehouse">
      <soap12:operation soapAction="http://tempuri.org/GetProductFullDetailByWarehouse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductWarehouse">
      <soap12:operation soapAction="http://tempuri.org/GetProductWarehouse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductStockStatus">
      <soap12:operation soapAction="http://tempuri.org/GetProductStockStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductOnSODetail">
      <soap12:operation soapAction="http://tempuri.org/GetProductOnSODetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportGetProductOnSODetail">
      <soap12:operation soapAction="http://tempuri.org/ReportGetProductOnSODetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductOnBODetail">
      <soap12:operation soapAction="http://tempuri.org/GetProductOnBODetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductDetail">
      <soap12:operation soapAction="http://tempuri.org/GetProductDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductStockStatusByProductCode">
      <soap12:operation soapAction="http://tempuri.org/GetProductStockStatusByProductCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductDetailByProductCode">
      <soap12:operation soapAction="http://tempuri.org/GetProductDetailByProductCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesOrder">
      <soap12:operation soapAction="http://tempuri.org/GetSalesOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesOrderByTrnNo">
      <soap12:operation soapAction="http://tempuri.org/GetSalesOrderByTrnNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesOrderDetails">
      <soap12:operation soapAction="http://tempuri.org/GetSalesOrderDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesOrderProductDesc">
      <soap12:operation soapAction="http://tempuri.org/GetSalesOrderProductDesc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryOrder">
      <soap12:operation soapAction="http://tempuri.org/GetDeliveryOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryOrderByTrnNo">
      <soap12:operation soapAction="http://tempuri.org/GetDeliveryOrderByTrnNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryOrderDetails">
      <soap12:operation soapAction="http://tempuri.org/GetDeliveryOrderDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryProductDesc">
      <soap12:operation soapAction="http://tempuri.org/GetDeliveryProductDesc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoicelist">
      <soap12:operation soapAction="http://tempuri.org/GetInvoicelist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceByTrnNo">
      <soap12:operation soapAction="http://tempuri.org/GetInvoiceByTrnNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceDetails">
      <soap12:operation soapAction="http://tempuri.org/GetInvoiceDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceProductDesc">
      <soap12:operation soapAction="http://tempuri.org/GetInvoiceProductDesc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductStockMovement">
      <soap12:operation soapAction="http://tempuri.org/GetProductStockMovement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductStockMovementByWarehouse">
      <soap12:operation soapAction="http://tempuri.org/GetProductStockMovementByWarehouse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductOnTNDetail">
      <soap12:operation soapAction="http://tempuri.org/GetProductOnTNDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <soap12:operation soapAction="http://tempuri.org/GetProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductGroup">
      <soap12:operation soapAction="http://tempuri.org/GetProductGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccount">
      <soap12:operation soapAction="http://tempuri.org/GetAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesPerson">
      <soap12:operation soapAction="http://tempuri.org/GetSalesPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSales1">
      <soap12:operation soapAction="http://tempuri.org/GetSales1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSales2">
      <soap12:operation soapAction="http://tempuri.org/GetSales2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesDetail">
      <soap12:operation soapAction="http://tempuri.org/GetSalesDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceipt1">
      <soap12:operation soapAction="http://tempuri.org/GetReceipt1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceipt2">
      <soap12:operation soapAction="http://tempuri.org/GetReceipt2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceipt3">
      <soap12:operation soapAction="http://tempuri.org/GetReceipt3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGRN">
      <soap12:operation soapAction="http://tempuri.org/GetGRN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockMovement">
      <soap12:operation soapAction="http://tempuri.org/GetStockMovement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnpostBatchSerial">
      <soap12:operation soapAction="http://tempuri.org/GetUnpostBatchSerial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWarehouse">
      <soap12:operation soapAction="http://tempuri.org/GetWarehouse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductUOM">
      <soap12:operation soapAction="http://tempuri.org/GetProductUOM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryOrderByDeliveryZone">
      <soap12:operation soapAction="http://tempuri.org/GetDeliveryOrderByDeliveryZone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryOrderByDeliveryZoneByProduct">
      <soap12:operation soapAction="http://tempuri.org/GetDeliveryOrderByDeliveryZoneByProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPendingSO">
      <soap12:operation soapAction="http://tempuri.org/GetPendingSO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBatchSerialDO">
      <soap12:operation soapAction="http://tempuri.org/GetBatchSerialDO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CMSWebService">
    <wsdl:port name="CMSWebServiceSoap" binding="tns:CMSWebServiceSoap">
      <soap:address location="http://localhost/CMS.WebServices/CMSWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="CMSWebServiceSoap12" binding="tns:CMSWebServiceSoap12">
      <soap12:address location="http://localhost/CMS.WebServices/CMSWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>